@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #1a1b2f;
    color: #f3f3f3;
    padding: 0px 50px;
}

.container {
    margin: 0 auto;
    background-color: #ffffff;
    width: 100%;
    max-width: 1340px;
    border-left: 1px solid#E6E6E6;
    border-right: 1px solid#E6E6E6;
    min-height: 100vh;


    position: relative;
}

.container::after {
    content: "";
    position: absolute;

    width: 1px;
    height: 100%;
    background-color: #E6E6E6;
    top: 0;
    left: 17%;
}

.container::before {
    content: "";
    position: absolute;

    width: 1px;
    height: 100%;
    background-color: #E6E6E6;
    top: 0;
    right: 17%;
}



.site_header {
    width: 70%;
    background-color: #ffffff;
    border-left: 1px solid#E6E6E6;
    border-right: 1px solid#E6E6E6;
    color: #292F36;
    z-index: 10;

}

.site_header::after {
    content: "";
    position: absolute;

    width: 1px;
    height: 100%;
    background-color: #E6E6E6;
    top: 0;
    left: 38%;
}


.site_header::before {
    content: "";
    position: absolute;

    width: 1px;
    height: 100%;
    background-color: #E6E6E6;
    top: 0;
    right: 38%;



}

.header_container {

    width: 50%;
    display: flex;
    margin: 0 auto;
    gap: 30%;
}

.header_logo {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}


.header_logo>img {
    margin-top: 8px;
    width: 60%;
    height: 50%;
}

.header_list {
    margin-top: 29px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.list_link a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    transition: 0.2s;
}

.header_btn {
    margin-top: 20px;
    border: none;
    background-color: #ffffff;
    color: #000;
    font-size: 1.2em;
}

.banner {
    margin-top: 20px;
    width: 100%;
    height: 800px;
    background-image: url("./img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 0 0 20%;
}


.main_container {
    display: flex;
    color: #292F36;
}

.contents {
    margin: 20% 0 0 20%;
}

.title,
.title2 {
    color: #000;
    font-size: 4rem;

}

.contents {
    font-weight: 300;
}

.box {
    width: 500px;
    height: 500px;
}

.main_btn {
    display: flex;
    gap: 20px;
    padding: 15px 15px;
    border: none;
    background-color: #000;
    color: #ffffff;
    border-radius: 5px;
    margin: 20px 0 0 20%;
}

.button>i {
    color: #ffbb3e;
}


.card_container {
    width: 100%;
    display: flex;
    gap: 5%;
    margin: 10px 0 0 20%;

}


.card_title {
    color: #000;
}

.card {

    background-color: #ffffff;
}

.card>p {
    color: #292F36;
}


.card_btn {
    background-color: white;
    justify-content: center;
    border: none;
}

.banner_div {
    display: flex;
    gap: 40px;

}

.main_banner,

.main_banner {
    margin: 5% 0 0 18%;
    color: #000;
    display: flex;
    gap: 20px;
}

.banner_btn {
    border: none;
    background-color: white;
}

.button_div {
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: white;
    border: none;
}

.fa-phone {
    font-size: 1.5rem;
}

.div_imege>img {
    width: 450px;
    height: 450px;
    border-radius: 0 55% 0 30%;
}


.main_banner2 {
    width: 80%;
    margin: 5% 0 0 20%;
    color: #000;
}

.font {
    width: 77%;
    border-radius: 40px;
    height: 50vh;
    background-color: #ffeac381;
}

.title2 {
    font-size: 3rem;
    text-align: center;
}

.card2 {
    margin-top: 5%;
    width: 259px;
    height: 259px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.div {
    display: flex;
    gap: 10px;
}


.imege>img {
    margin-left: 20%;
    width: 60%;
}

p {
    color: #292F36;
}

.content_div {
    margin-top: 40px 0;
    justify-self: center;
}

.img_container {
    display: flex;
    margin: 10px 0 0 17%;
}



.img>img {
    margin-top: 40px;
    width: 60%;
    height: 65%;
    border-radius: 0 55px 0 0;
}

h3 {
    color: #000;
}


.img2>img {
    margin-top: 40px;
    width: 60%;
    height: 65%;
    border-radius: 0 0 55px 0;
}

.img3>img {
    margin-top: 40px;
    width: 60%;
    height: 65%;
    border-radius: 55px 0 0 0;
}


.img4>img {
    margin-top: 40px;
    width: 60%;
    height: 65%;
    border-radius: 0 0 0 55px;
}


h1 {
    color: #000;
}

.stats {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    height: 20vh;
    background: #f6f1eb;
}

.box h2 {
    color: #c9a26a;
    font-size: 36px;
    margin: 0;
}

.news {
    text-align: center;
    padding: 60px 20px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.card {
    width: 280px;
    border-radius: 20px;
    background: #f9f9f9;
    padding: 15px;
    text-align: left;
}

.card img {
    width: 100%;
    border-radius: 15px;
}

.card span {
    background: white;
    padding: 5px 10px;
    border-radius: 10px;
    position: relative;
    top: -30px;
}

.cta {
    background: #2f3742;
    color: white;
    text-align: center;
    padding: 60px;
    border-radius: 30px;
    margin: 60px 20px;
}

.cta button {
    background: #c9a26a;
    border: none;
    padding: 12px 25px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.cta>p {
    color: white;
}

footer {
    padding: 60px 20px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}